---
layout: archive
title: "Poeple"
permalink: /people/
author_profile: true
---


I have been very privileged to work with many talented young researchers and be supported by colleagues in Oxford HCC (see [HCC page](http://hcc.cs.ox.ac.uk)). 


In addition to UG and Msc students ([students projects](https://www.cs.ox.ac.uk/teaching/courses/projects/)), I also supervise DPhil students.

If you are interested to learn more about applying for D.Phil (PhD) in Oxford, please see the [studentships](https://www.cs.ox.ac.uk/admissions/graduate/researchstudentships.html) page for further details.  Should you consider applying for a doctoral position in our group, please do not hesitate to get in touch.


{% include base_path %}


{% for post in site.people reversed %}
  {% include archive-single.html %}
{% endfor %}
